<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Students</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
	
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		
		<a class="navbar-brand" href="#">Students control</a>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{students}">Estudiantes</a>
				</li>
				
			</ul>
		</div>
		
	</nav>
	
	<div class="container">
		<div class="row">
			<h1> Estudiantes </h1>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-3">
				<a th:href="@{/students/create}" class="btn btn-primary btn-sm mb3">Agregar Estudiante</a>
			</div>
		</div>
		<br>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nombre</th>
					<th scope="col">Apellido</th>
					<th scope="col">Email</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<div th:if="${students != null and !students.empty}">
				<tbody>
					<tr th:each="student : ${students}">
						<th scope="row" th:text="${student.id}">Mostrar Id</th>
						<td th:text="${student.name}">Mostrar Nombre</td>
						<td th:text="${student.surname}">Mostrar Apellido</td>
						<td th:text="${student.email}">Mostrar Email</td>
						<td>
							<a th:href="@{/students/edit/{id}(id=${student.id})}" class="btn btn-info">Editar</a>
							<a th:href="@{/students/delete/{id}(id=${student.id})}" class="btn btn-danger">Eliminar</a>
						</td>
					</tr>
				</tbody>
			</div>
		</table>
		<div class="row" th:if="${students == null or students.empty}">
			La lista de estudiantes está vacía
		</div>
	</div>
</body>

</html>